<div class="searh-container">
  <div class="list-container">
    <div class="list">
      <h1 class="header">IMDb "Top 1000" (Sorted by IMDb Rating Descending)</h1>
    </div>
    <div class="nav">
      <br class="clear" />
      <div class="display-mode view">
        View Mode:
        <a
          href="/search/title/?groups=top_1000&amp;sort=user_rating,desc&amp;count=100&amp;view=simple"
          class="compact"
        >
          Compact
        </a>
        <span class="ghost">|</span
        ><a
          href="/search/title/?groups=top_1000&amp;sort=user_rating,desc&amp;count=100&amp;view=advanced" class="detailed"
        >
          <strong>Detailed</strong>
        </a>
      </div>
      <div class="desc">
        <span>1-100 of 1,000 titles.</span>
        <span class="ghost">|</span>
        <a
          href="/search/title/?groups=top_1000&amp;sort=user_rating,desc&amp;count=100&amp;start=101&amp;ref_=adv_nxt"
          class="lister-page-next next-page"
          >Next »</a
        >
      </div>
    </div>

    <br />

    <div class="sorting">
      Sort by:
      <a href="/search/title/?groups=top_1000">Popularity</a>
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=alpha,asc">A-Z</a>
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=user_rating,asc"
        ><strong>User Rating</strong>▼</a
      >
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=num_votes,asc"
        >Number of Votes</a
      >
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=boxoffice_gross_us,asc"
        >US Box Office</a
      >
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=runtime,asc">Runtime</a>
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=year,asc">Year</a>
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=release_date,asc"
        >Release Date</a
      >
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=your_rating_date,asc"
        >Date of Your Rating</a
      >
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=my_ratings,desc"
        >Your Rating</a
      >
    </div>

    <div class="card-list-container">
      <app-card></app-card>
    </div>
  </div>
</div>
