<div class="searh-container">
  <div class="list-container">
    <div class="list">
      <h1 class="header">IMDb "Top 1000" (Sorted by IMDb Rating Descending)</h1>
    </div>
    <div class="nav">
      <br class="clear" />
      <div class="display-mode view">
        View Mode:
        <a
          href="/search/title/?groups=top_1000&amp;sort=user_rating,desc&amp;count=100&amp;view=simple"
          class="compact"
        >
          Compact
        </a>
        <span class="ghost">|</span
        ><a
          href="/search/title/?groups=top_1000&amp;sort=user_rating,desc&amp;count=100&amp;view=advanced" class="detailed"
        >
          <strong>Detailed</strong>
        </a>
      </div>
      <div class="desc">
        <span>1-100 of 1,000 titles.</span>
        <span class="ghost">|</span>
        <a
          href="/search/title/?groups=top_1000&amp;sort=user_rating,desc&amp;count=100&amp;start=101&amp;ref_=adv_nxt"
          class="lister-page-next next-page"
          >Next »</a
        >
      </div>
    </div>

    <br />

    <div class="sorting">
      Sort by:
      <a href="/search/title/?groups=top_1000">Popularity</a>
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=alpha,asc">A-Z</a>
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=user_rating,asc"
        ><strong>User Rating</strong>▼</a
      >
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=num_votes,asc"
        >Number of Votes</a
      >
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=boxoffice_gross_us,asc"
        >US Box Office</a
      >
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=runtime,asc">Runtime</a>
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=year,asc">Year</a>
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=release_date,asc"
        >Release Date</a
      >
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=your_rating_date,asc"
        >Date of Your Rating</a
      >
      <span class="ghost">|</span>
      <a href="/search/title/?groups=top_1000&amp;sort=my_ratings,desc"
        >Your Rating</a
      >
    </div>

    <div class="card-list-container">
      <div class="card">
        <div class="lister-item-image float-left">
          <a href="/title/tt0111161/?ref_=adv_li_i">
            <img
              alt="The Shawshank Redemption"
              class="loadlate"
              data-tconst="tt0111161"
              height="98"
              src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg"
              width="67"
            />
          </a>
        </div>

        <div class="card-content">
          <div>
            <h3 class="lister-item-header">
              <span class="lister-item-index unbold text-primary">1.</span>
              <a href="/title/tt0111161/?ref_=adv_li_tt">The Shawshank Redemption</a>
              <span class="lister-item-year text-muted unbold">(1994)</span>
            </h3>
            <div class="list-ribbon"><a href="#"><img src="../../assets/images/bookmark-32.png" alt="Add to watchlist"></a></div>
          </div>
          <div class="basic-info"><span> R | 142 min | Drama</span></div>
          <div class="rating"> 
            <img src="../../assets/images/iconfinder_star_299040.png" alt="">   
            <h4>9.3</h4>         
            <img src="../../assets/images/star-empty-24.png" alt="">            
            <h4><a href="">Rate this</a></h4>
            <span class="meter">80</span>
            <span>Metascore</span>
          </div> 
          <div>
            <p>Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.</p>
          </div><br>
          <div>
            <span>Director: <a href="">Frank Darabont</a></span>|
            <span>Stars: <a href="#">Tim Robbins, Morgan Freeman, Bob Gunton, William Sadier</a></span>
          </div><br>
          <div class="income">
            <p>Votes:</p><span>2,184,331</span>|
            <p>Gross:</p><span>$28.34M</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="lister-item-image float-left">
          <a href="/title/tt0068646/?ref_=adv_li_tt">
            <img
              alt="The Godfather"
              class="loadlate"
              data-tconst="tt0111161"
              height="98"
              src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_UY98_CR1,0,67,98_AL_.jpg"
              width="67"
            />
          </a>
        </div>

        <div class="card-content">
          <div>
            <h3 class="lister-item-header">
              <span class="lister-item-index unbold text-primary">2.</span>
              <a href="/title/tt0111161/?ref_=adv_li_tt">The Godfather</a>
              <span class="lister-item-year text-muted unbold">(1972)</span>
            </h3>
            <div class="list-ribbon"><a href="#"><img src="../../assets/images/bookmark-32.png" alt="Add to watchlist"></a></div>
          </div>
          <div class="basic-info"><span> R | 175 min | Crime, Drama</span></div>
          <div class="rating"> 
            <img src="../../assets/images/iconfinder_star_299040.png" alt="">   
            <h4>9.2</h4>         
            <img src="../../assets/images/star-empty-24.png" alt="">            
            <h4><a href="">Rate this</a></h4>
            <span class="meter">100</span>
            <span>Metascore</span>
          </div> 
          <div>
            <p>The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.</p>
          </div><br>
          <div>
            <span>Director: <a href="">Francis Ford Coppola</a></span>|
            <span>Stars: <a href="#">Marlon Brando, Al Pacino, James Caan, Diane Keaton</a></span>
          </div><br>
          <div class="income">
            <p>Votes:</p> <span> 1,504,864 </span>|
            <p>Gross:</p> <span>$134.97M</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
