.searh-container {
    width: 1008px;
    margin: auto;
    background-color: #fff;
    min-height: 70em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.searh-container .list-container {
    margin-left: 20px;
    border-radius: 12px;
    border: 1px solid #E8E8E8;
    margin-bottom: 7px;
    padding: 10px 12px;
    width: auto;
    background-color: #FFFFFF;
    min-height: 70em;
    width: 646px;
}

.list h1 {
    color: #333333;
    font-size: 21px;
    line-height: 110%;
    font-family: inherit;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;
}

.nav {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.view {
    margin-left: 250px;
}

.desc a {
    padding: 0 5px;
}

.sorting {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 13px;    
}

.sorting a {
    padding: 0 5px;
}

.card-list-container {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 13px;
    min-height: 70em;
    padding-top: 1em;
}

.card {
    font-size: 11px;
    padding: 15px 20px;
    width: 605px;
    height: 200px;
    display: flex;
    background-color: gray;
}

.card:nth-child(odd) {
    background-color: #f6f6f5;
}

.card:nth-child(even) {
    background-color: #fbfbfb;
}

.card-content {
    width: 515px;
    height: 190px;
    margin: 1px 0px 0px 19px;
}

.card-content span{
    padding: 5px;
}

.list-ribbon {
    background-repeat: no-repeat;
    float: right;
    margin: -25px 20px 0px 0px;
}

.basic-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rating {
    margin-top: 5px;  
    display: inline-block;   
    clear: both;
}

.rating img {
    float: left;
    padding-right: 5px;
}

.rating h4 {
    display: inline-block;
    float: left;
    padding-right: 10px;
}

.rating span {
    display: inline-block;
    padding-top: 8px;
}

.meter {
    background-color:lightgreen;
    margin-left: 50px;
}

.card-content p {
    text-shadow: lightgray 1px;
    color: gray;
    line-height: 10px;
    padding: 5px;
}

.income p {
    display: inline;
}

